<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.1.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

    <!-- 配置处理器映射器和适配器 -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 扫描controller和dao等 -->
    <context:component-scan base-package="cn.edu.scau"></context:component-scan>

    <!-- 允许css目录下所有文件可见 -->
    <mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
    <!-- 允许html目录下所有文件可见 -->
    <mvc:resources location="/html/" mapping="/html/**"></mvc:resources>
    <!--允许js目录下所有文件可见 -->
    <mvc:resources location="/js/" mapping="/images/**"></mvc:resources>

    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/jsp/</value> <!-- 对返回的字符串自动拼接前缀/WEB-INF/jsp/ -->
        </property>
        <property name="suffix">
            <value>.jsp</value>	<!-- 对返回的字符串自动拼接后缀.jsp -->
        </property>
    </bean>

</beans>