<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.scau.dao.LogMapper" >

  <resultMap id="LogResultMap" type="cn.edu.scau.entity.Log">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="type" column="type"/>
    <result property="user" column="user"/>
    <result property="ip" column="ip"/>
    <result property="createDate" column="create_date"/>
  </resultMap>

  <!-- 查找日志总数 -->
  <select id="getTotal" resultType="java.lang.Integer" parameterType="cn.edu.scau.component.Page">
    select count(*) from tb_log
    <where>
      <if test="keyword != null and keyword != ''">
        and id like '%${keyword}%' or name like '%${keyword}%' or type like '%${keyword}%'
        or user like '%${keyword}%' or ip like '%${keyword}%' or create_date like '%${keyword}%'
      </if>
    </where>
  </select>

  <!-- 查找当前页的记录 -->
  <select id="findRecords" resultMap="LogResultMap" parameterType="cn.edu.scau.component.Page">
    select * from tb_log
    <where>
      <if test="keyword != null and keyword != ''">
        and id like '%${keyword}%' or name like '%${keyword}%' or type like '%${keyword}%'
        or user like '%${keyword}%' or ip like '%${keyword}%' or create_date like '%${keyword}%'
      </if>
    </where>
    limit #{startIndex}, #{pageSize}
  </select>

  <!-- 删除单条日志 -->
  <delete id="deleteOne" parameterType="java.lang.Integer" >
    delete from tb_log where id = #{id}
  </delete>

  <!-- 批量删除日志 -->
  <delete id="deleteMore">
    delete from tb_log
    <where>
      <if test="array != null and array.length > 0">
        and id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
          #{id}
        </foreach>
      </if>
    </where>
  </delete>

  <!-- 添加日志 -->
  <insert id="insert" parameterType="cn.edu.scau.entity.Log" >
    insert into tb_log (name, type, user, ip, create_date)
    values (#{name}, #{type}, #{user}, #{ip}, #{createDate})
  </insert>

</mapper>